.terraform
.idea
*.log
*.iml
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/ecs/*.plan
target
/*/docker-compose.yml
ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/.m2/settings.xml
ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa
ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa.pub
ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/jenkins-jobs/jenkins-jobs.ini
/mgmt-proxy/wkda-ecs-config-storage-s3/management/opt/nginx/certs/wkda-test.com.crt
/mgmt-proxy/wkda-ecs-config-storage-s3/management/opt/nginx/certs/wkda-test.com.key
/ecs/wkda-ecs-config-storage-s3/management/opt/nginx/certs/wkda-test.com.crt
/ecs/wkda-ecs-config-storage-s3/management/opt/nginx/certs/wkda-test.com.key
/jenkins/wkda-ecs-config-storage-s3/management/var/jenkins_home/jenkins-jobs/jenkins-jobs.ini
/jenkins/wkda-ecs-config-storage-s3/management/var/jenkins_home/.m2/settings.xml
/jenkins/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa
/jenkins/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa.pub
/ecs/wkda-ecs-config-storage-s3/production/srv/apps/config/KEY_SECRET
/ecs/wkda-ecs-config-storage-s3/production/srv/apps/config/KEYSTORE_PASSWORD
/ecs/wkda-ecs-config-storage-s3/qa/srv/apps/config/KEYSTORE_PASSWORD
/ecs/wkda-ecs-config-storage-s3/qa/srv/apps/config/KEY_SECRET
/ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa_jenkins_wkda-test_de
/ecs/wkda-ecs-config-storage-s3/management/var/jenkins_home/.ssh/id_rsa_jenkins_wkda-test_de.pub
/ecs/id_rsa_jenkins_wkda-test_de-Phassphrase
/ecs/wkda-ecs-config-storage-s3/management/srv/app/config/GITHUB_ACCESS_TOKEN
/ecs/wkda-ecs-config-storage-s3/management/srv/app/config/JENKINS_PASS
/ecs/wkda-ecs-config-storage-s3/management/srv/app/config/SLACK_API_TOKEN
/ecs/wkda-ecs-config-storage-s3/management/opt/ejtserver/license.txt
.classpath
.project
.settings
.DS_Store
